@media(min-width: 1439px){
    .textSecondBlock{
        width: 50%;
        
    }
    .logo{
        margin-right: 2%;

    }
}

@media(max-width: 1025px){
    .logo{
        background-position: center 1px;
    }
    .help {
        min-width: 50%;
    }
    .contacts{
        min-width: 50%;
    }
    .social {
        min-width: 100%;
    }
}

@media(max-width: 850px){
    .logo{
        background-position: center 5px;
    }
}

@media(max-width: 768px){
    .logo{
        background-position: center 7px;
    }
}

@media (max-width: 690px){
    .textSecondBlock{
        top: 250px;
    }
    .logo{
        background-position: center 8px;
    }

    .help {
        min-width: 100%;
        padding-bottom: 15px;
    }
    .contacts{
        min-width: 100%;
    }
    .social {
        min-width: 100%;
    }
    

}

@media (max-width: 650px){
    .logo{
        background-position: center 10px;
    }

}

@media (max-width: 600px){

}

@media (max-width: 572px){
    .formTopMenu {
        display: flex;
        width: 100%;
        position: absolute;
        left: 0;
        margin: 60px 0 0 0px;
        justify-content: center;
    }
    .seachButton {
        left: 85%;
    }
    .logo{
        width: 210px;
        margin-right: 10%;
    }

    .conteinerHeader {
        height: 125px;
    }
    .firstBlock{
        margin-top: 125px;
    }
}

@media (max-width: 572px){
    .seachButton {
        margin-left: -8px;
        width: 57px;
    }
}

@media (max-width: 478px){
    .textSecondBlock{
        top: 280px;
    }
    .logo{
        margin-right: 5%;
    }

    .seachInput::placeholder{
        width: 80%;
    }
    
}

@media (max-width: 420px){
    .logo{
        width: 179px;
        background-position: center 14px;
    }
}

@media (max-width: 400px){
    .textSecondBlock{
        top: 320px;
    }

    .logo{
        margin-right: 0%;
    }

    .seachInput{
        width: 100%;
    }

    .seachButton {
        margin-left: 0; 
        width: 60px;
    }

}